body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

button .icon {
  vertical-align: middle;
}

.text-default {
  color: #373a3c;
}
.text-white, .text-white:hover {
  color: #fff;
}

.d-flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.m-l-025{
  margin-left: 0.25rem;
}