body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.m-l-1 {
  margin-left: 12px;
}
.m-r-1 {
  margin-right: 12px;
}
.m-t-1 {
  margin-top: 12px;
}
.m-b-1 {
  margin-bottom: 12px;
}
.categories-list, .tasks-list {
  /*max-height: 300px;*/
}
.text-default {
  color: #373a3c;
}
.text-white, .text-white:hover {
  color: #fff;
}

.d-flex {
  display: flex;
}
